test_data/schema/headerbasis_datentypen.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--  Version: 2024.3.0.0 Erstelldatum: 2024-05-02 -->
<xs:schema xmlns:elsterheaderbasis="http://www.elster.de/elsterxml/schema/headerbasis/v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.elster.de/elsterxml/schema/headerbasis/v3" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1">
	<xs:simpleType name="BaseStringSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Der Zeichensatzumfang ISO 8859-15  wird um die nicht druckbaren Zeichen reduziert. (KONSENS-Vorgabe: VDMZulZeichensatz)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[&#x000a;&#x000d;&#x0020;&#x0021;&#x0022;&#x0023;&#x0024;&#x0025;&#x0026;&#x0027;&#x0028;&#x0029;&#x002a;&#x002b;&#x002c;&#x002d;&#x002e;&#x002f;&#x0030;&#x0031;&#x0032;&#x0033;&#x0034;&#x0035;&#x0036;&#x0037;&#x0038;&#x0039;&#x003a;&#x003b;&#x003c;&#x003d;&#x003e;&#x003f;&#x0040;&#x0041;&#x0042;&#x0043;&#x0044;&#x0045;&#x0046;&#x0047;&#x0048;&#x0049;&#x004a;&#x004b;&#x004c;&#x004d;&#x004e;&#x004f;&#x0050;&#x0051;&#x0052;&#x0053;&#x0054;&#x0055;&#x0056;&#x0057;&#x0058;&#x0059;&#x005a;\\\[&#x005c;&#x005d;&#x005e;&#x005f;&#x0060;&#x0061;&#x0062;&#x0063;&#x0064;&#x0065;&#x0066;&#x0067;&#x0068;&#x0069;&#x006a;&#x006b;&#x006c;&#x006d;&#x006e;&#x006f;&#x0070;&#x0071;&#x0072;&#x0073;&#x0074;&#x0075;&#x0076;&#x0077;&#x0078;&#x0079;&#x007a;&#x007b;&#x007c;&#x007d;&#x007e;&#x00a1;&#x00a2;&#x00a3;&#x00a5;&#x00a7;&#x00aa;&#x00ab;&#x00ac;&#x00ae;&#x00af;&#x00b0;&#x00b1;&#x00b2;&#x00b3;&#x00b5;&#x00b9;&#x00ba;&#x00bb;&#x00bf;&#x00c0;&#x00c1;&#x00c2;&#x00c3;&#x00c4;&#x00c5;&#x00c6;&#x00c7;&#x00c8;&#x00c9;&#x00ca;&#x00cb;&#x00cc;&#x00cd;&#x00ce;&#x00cf;&#x00d0;&#x00d1;&#x00d2;&#x00d3;&#x00d4;&#x00d5;&#x00d6;&#x00d7;&#x00d8;&#x00d9;&#x00da;&#x00db;&#x00dc;&#x00dd;&#x00de;&#x00df;&#x00e0;&#x00e1;&#x00e2;&#x00e3;&#x00e4;&#x00e5;&#x00e6;&#x00e7;&#x00e8;&#x00e9;&#x00ea;&#x00eb;&#x00ec;&#x00ed;&#x00ee;&#x00ef;&#x00f0;&#x00f1;&#x00f2;&#x00f3;&#x00f4;&#x00f5;&#x00f6;&#x00f7;&#x00f8;&#x00f9;&#x00fa;&#x00fb;&#x00fc;&#x00fd;&#x00fe;&#x00ff;&#x0152;&#x0153;&#x0160;&#x0161;&#x0178;&#x017d;&#x017e;&#x20ac;]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BUFANrSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">siehe Elster Developers Toolkit </xs:documentation>
			<xs:documentation xml:lang="DE">4-stellig numerisch </xs:documentation>
			<xs:documentation xml:lang="DE">Bundesfinanzamtsnummer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="elsterheaderbasis:BaseStringSType">
			<xs:length value="4"/>
			<xs:pattern value="10\d{2}"/>
			<xs:pattern value="11\d{2}"/>
			<xs:pattern value="21\d{2}"/>
			<xs:pattern value="22\d{2}"/>
			<xs:pattern value="23\d{2}"/>
			<xs:pattern value="24\d{2}"/>
			<xs:pattern value="26\d{2}"/>
			<xs:pattern value="27\d{2}"/>
			<xs:pattern value="28\d{2}"/>
			<xs:pattern value="30\d{2}"/>
			<xs:pattern value="31\d{2}"/>
			<xs:pattern value="32\d{2}"/>
			<xs:pattern value="40\d{2}"/>
			<xs:pattern value="41\d{2}"/>
			<xs:pattern value="51\d{2}"/>
			<xs:pattern value="52\d{2}"/>
			<xs:pattern value="53\d{2}"/>
			<xs:pattern value="54\d{2}"/>
			<xs:pattern value="55\d{2}"/>
			<xs:pattern value="56\d{2}"/>
			<xs:pattern value="91\d{2}"/>
			<xs:pattern value="92\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BundeslandSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Einheitliche Abkuerzungen fuer die Bundeslaender bzw. alternative Empfaenger</xs:documentation>
		</xs:annotation>
		<xs:restriction base="elsterheaderbasis:BaseStringSType">
			<xs:enumeration value="BW">
				<xs:annotation>
					<xs:documentation xml:lang="DE">BW = Baden-Württemberg</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BY">
				<xs:annotation>
					<xs:documentation xml:lang="DE">BY = Bayern</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BE">
				<xs:annotation>
					<xs:documentation xml:lang="DE">BE = Berlin</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BB">
				<xs:annotation>
					<xs:documentation xml:lang="DE">BB = Brandenburg</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HB">
				<xs:annotation>
					<xs:documentation xml:lang="DE">HB = Bremen</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HH">
				<xs:annotation>
					<xs:documentation xml:lang="DE">HH = Hamburg</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HE">
				<xs:annotation>
					<xs:documentation xml:lang="DE">HE = Hessen</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MV">
				<xs:annotation>
					<xs:documentation xml:lang="DE">MV = Mecklenburg-Vorpommern</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NI">
				<xs:annotation>
					<xs:documentation xml:lang="DE">ND = Niedersachsen</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NW">
				<xs:annotation>
					<xs:documentation xml:lang="DE">NW = Nordrhein-Westfalen</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RP">
				<xs:annotation>
					<xs:documentation xml:lang="DE">RP = Rheinland-Pfalz</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SL">
				<xs:annotation>
					<xs:documentation xml:lang="DE">SL = Saarland</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SN">
				<xs:annotation>
					<xs:documentation xml:lang="DE">SN = Sachsen</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST">
				<xs:annotation>
					<xs:documentation xml:lang="DE">ST = Sachsen-Anhalt</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SH">
				<xs:annotation>
					<xs:documentation xml:lang="DE">SH = Schleswig-Holstein</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TH">
				<xs:annotation>
					<xs:documentation xml:lang="DE">TH = Thüringen</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EC">
				<xs:annotation>
					<xs:documentation xml:lang="DE">EC = ElsterCountry "Testbundesland" - nicht mit Echtdatenlieferung kombinieren !</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BF">
				<xs:annotation>
					<xs:documentation xml:lang="DE">BF = Bundesamt fuer Finanzen</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CS">
				<xs:annotation>
					<xs:documentation xml:lang="DE">CS = Clearingstelle</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CD">
				<xs:annotation>
					<xs:documentation xml:lang="DE">CD = Clearingstelle Düsseldorf</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CM">
				<xs:annotation>
					<xs:documentation xml:lang="DE">DEPRECATED, CM = ZPS - Kommunikation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CN">
				<xs:annotation>
					<xs:documentation xml:lang="DE">DEPRECATED, CN = ZPS - Fachlichkeit"</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DS">
				<xs:annotation>
					<xs:documentation xml:lang="DE">DS = DESTATIS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OP">
				<xs:annotation>
					<xs:documentation xml:lang="DE">OP = ElsterOnline Portal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TK">
				<xs:annotation>
					<xs:documentation xml:lang="DE">TK = Testcenter Konsens</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZF">
				<xs:annotation>
					<xs:documentation xml:lang="DE">ZF = ZFA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DatenLieferantSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Datenlieferant der Nutzdaten - Steuerpflichtiger selbst bzw. dessen Lohnbuchhaltungsbuero / Steuerberater</xs:documentation>
			<xs:documentation xml:lang="DE">String der Lieferanteninformationen enthaelt ; Ansprechpartner mit Telefon. Email etc. Bei ESt: Steuerpflichtiger oder Steuerberater/Firma  (entfaellt hier u.U. auch)Aufbau: Lieferant (Firma); Ansprechpartner; Telefon; E-Mail Adresse; Ort; PLZ; Straße; Land;</xs:documentation>
		</xs:annotation>
		<xs:restriction base="elsterheaderbasis:BaseStringSType">
			<xs:maxLength value="256"/>
			<!-- <xs:minLength value="1"/> -->
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DatumSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Datum und Uhrzeit 14-stellig ohne Trennzeichen</xs:documentation>
			<xs:documentation xml:lang="DE">Format : JJJJMMTThhmmss</xs:documentation>
		</xs:annotation>
		<xs:restriction base="elsterheaderbasis:BaseStringSType">
			<xs:length value="14"/>
			<xs:pattern value="\d{14}"/>
			<!--  <xs:pattern value="\d{4}[01][0-9]([012][0-9]|3[01])([01][0-9]|2[0-4])([012345][0-9]){2}"/> -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EingangsDatumSType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Serverseitiges Eingangsdatum

Datum und Uhrzeit, wann die Daten beim Server eingegangen sind
Als Eingangsdatum wird das Datum der Beendigung der Übermittlung bezeichnet.

Numerisch,  14-stellig, JJJJMMTThhmmss
</xs:documentation>
			<xs:documentation>Wird nur serverseitig gefüllt!</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="elsterheaderbasis:DatumSType"/>
	</xs:simpleType>
	<xs:simpleType name="EmpfaengerIDSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">
							Attribut, ob Laenderschluessel oder BundesFinanzamtsnummer
							L= Laenderschluessel (z.B. bei LStB.)
							F= BundesFinanzamtsnummer (z.B. bei ESt)
						</xs:documentation>
		</xs:annotation>
		<xs:restriction base="elsterheaderbasis:BaseStringSType">
			<xs:length value="1"/>
			<xs:enumeration value="L"/>
			<xs:enumeration value="F"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmpfaengerSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Bundeslandkuerzel oder Finanzamtsnummer</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="elsterheaderbasis:BundeslandSType elsterheaderbasis:BUFANrSType"/>
	</xs:simpleType>
	<xs:simpleType name="HerstellerIDSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Die HerstellerID ist eine für jeden Hersteller eindeutige Zuordnungsnummer.
Nur Fälle, die von registrierten Softwareherstellern gesendet  werden, werden angenommen und verarbeitet.
Numerisch 5-stellig (beantragte HerstellerID)
Die HerstellerID muss von jedem teilnehmenden Hersteller bei dem Bayerischen Landesamt für Steuern beantragt werden im Entwicklerbereich von elster.de
</xs:documentation>
		</xs:annotation>
		<xs:restriction base="elsterheaderbasis:BaseStringSType">
			<xs:length value="5"/>
			<xs:pattern value="\d{5}"/>
		</xs:restriction>
		<!-- <xs:restriction base="xs:integer"> -->
			<!-- <xs:minInclusive value="0"/> -->
			<!-- <xs:maxExclusive value="99999"/> -->
			<!-- <xs:pattern value="\d{5}"/> -->
		<!-- </xs:restriction> -->
	</xs:simpleType>
	<xs:simpleType name="KompressionSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Mit welcher Kompression wurden die Inhalte von den Elementen DatenLieferant und ggf. SigUser im TransferHeader und dem Element DatenTeil komprimiert.

Beim ElsterXML müssen die Inhalte der folgenden Elemente komprimiert werden:
-	Datenlieferant
-	SigUser
-	TransportSchluessel
-	DatenTeil
</xs:documentation>
			<xs:documentation>Text, max. 42 Zeichen</xs:documentation>
		</xs:annotation>
		<xs:restriction base="elsterheaderbasis:BaseStringSType">
			<xs:enumeration value="GZIP"/>
			<xs:enumeration value="NO_BASE64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NutzdatenBlockTicketSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Ticket fuer Fehlerbehandlung zur Identifizierung der einzelnen Nutzdatenblöcke.
Ist nur ein Nutzdatenblock vorhanden, so bietet sich hier der Wert _1_ an.
Wird vom Datenlieferant gefuellt und muss in der Datenlieferung eindeutig sein.</xs:documentation>
			<xs:documentation xml:lang="DE">32-stellig alphanummerisch</xs:documentation>
		</xs:annotation>
		<xs:restriction base="elsterheaderbasis:BaseStringSType">
			<xs:maxLength value="32"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TestmerkerSType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Kennzeichnung der Datenlieferung ob es sich um einen Testfall handelt, gilt fuer die gesamte Datenlieferung.</xs:documentation>
			<xs:documentation xml:lang="de">Ein Echtfall enthält dieses Element nicht.
			
Ein Testfall muss mit einem Testmerker versehen werden, damit er nicht wie ein Echtfall verarbeitet wird.
Handelt es sich um Daten, die nur zum Testen des Frontends versendet wurden, müssen sie nicht mehr weiter verarbeitet werden.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="elsterheaderbasis:BaseStringSType">
			<xs:length value="9"/>
			<xs:enumeration value="010000001">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für ERiClet --- Test ElsterInfo-Element: Hier wird in der Serverantwort eine Test-ElsterInfo Nachricht eingefügt</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="080000001">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für ElsterSignatur (Nur zur internen Verwendung)
--080000001 Zum Test des Abrufcodes (interne Verwendung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="120000001">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für ElsterExtern</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="120000002">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für ElsterExtern --- Kompletttest I</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="120000003">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für ElsterExtern --- Kompletttest III</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="160000001">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für ElsterKapESt (Nur zur internen Verwendung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="160000002">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für ElsterKapESt (Nur zur internen Verwendung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="220000000">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für ElsterLohn
--220002000 Protokollerzeugung und Kompletttest mit Einspeicherung in den eSpeicher des Landes
--220000000 Nur Validierung Clearingstelle und Protokollerstellung</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="220002000">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für ElsterLohn
--220002000 Protokollerzeugung und Kompletttest mit Einspeicherung in den eSpeicher des Landes
--220000000 Nur Validierung Clearingstelle und Protokollerstellung</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="230000001">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für ElsterKontoabfrage
--230000001 - Komplettest
--230000002 - Komplettest - mit Rollback</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="230000002">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für ElsterKontoabfrage
--230000001 - Komplettest
--230000002 - Komplettest - mit Rollback</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="240000000">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für ElsterKMV --- Zur internen Verwendung - genauere Angaben siehe Fachverfahren
</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="300000001"/>
			<xs:enumeration value="300000002">
				<xs:annotation>
					<xs:documentation>Test der Verschlüsselung nach PKCS#1v2.1 </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="300000003">
				<xs:annotation>
					<xs:documentation>Test der VDB</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="370000001">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für ElsterBRM --- Zum Test der einzelnen BRM Anfragen</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="400000010">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für Laenderadapter --- TEST ELAD ElsterLohn (nur fuer interne Zwecke der Finanzverwaltung)	</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="400000020">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für Laenderadapter --- TEST ELAD ElsterEingang (nur fuer interne Zwecke der Finanzverwaltung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="400000030">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für Laenderadapter --- TEST ELAD Elster Auswertung (nur fuer interne Zwecke der Finanzverwaltung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="400000040">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für Laenderadapter --- TEST ELAD Auswertung (nur fuer interne Zwecke der Finanzverwaltung)	</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="400000050">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für Laenderadapter --- TEST ELAD Fachmethodik Fallliste (nur fuer interne Zwecke der Finanzverwaltung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="400000060">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für Laenderadapter --- TEST ELAD Lohn2 (nur fuer interne Zwecke der Finanzverwaltung)
	</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="480000001">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für ElsterIDRecherche (intern)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="510000001">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für Zobel</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="500000003">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für Portal (Nur zur internen Verwendung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="500000004">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für Portal (Nur zur internen Verwendung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="500000005">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für Portal (Nur zur internen Verwendung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="500000006">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für Portal (Nur zur internen Verwendung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="500000007">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für Portal (Nur zur internen Verwendung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="500000013">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für Portal (Nur zur internen Verwendung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="500000014">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für Portal (Nur zur internen Verwendung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="500000015">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Testmerker für Portal (Nur zur internen Verwendung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="700000001">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Verfahrensunabhaengige Testmerker für Elster Phase I Verfahren (Unter anderem für ElsterErklaerung, ElsterAnmeldung, ElsterBilanz, ElsterDatenabholung und ElsterLohn2 ) --- 700000001 Aussonderung der Daten im Land (bei GeCo)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="700000002"/>
			<xs:enumeration value="700000003"/>
			<xs:enumeration value="700000004">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Verfahrensunabhaengige Testmerker für Elster Phase I Verfahren (Unter anderem für ElsterErklaerung, ElsterAnmeldung, ElsterBilanz, ElsterDatenabholung und ElsterLohn2 ) --- Aussonderung der Daten in der ZPS-Kommunikation (ggf nach Verarbeitung durch Pudel)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="700000005">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Verfahrensunabhaengige Testmerker für Elster Phase I Verfahren (Unter anderem für ElsterErklaerung, ElsterAnmeldung, ElsterBilanz, ElsterDatenabholung und ElsterLohn2 )---	Aussonderung der Daten in der ZPS-Kommunikation (ggf vor Verarbeitung durch Pudel)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="700001001"/>
			<xs:enumeration value="700004001"/>
			<xs:enumeration value="900000001">
				<xs:annotation>
					<xs:documentation> "EGVPNachricht": Nachricht wurde an eines der Testpostfächer versendet. Die Aussteuerung, oder Weiterleitung muss im Land erfolgen. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="900000002">
				<xs:annotation>
					<xs:documentation>"Empfangsbekenntnis", "LKSNachricht" : Kompletttest zwischen Finanzverwaltung und Gerichte (Nachricht wird als MessageType "Testnachricht" versendet) </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="900000003">
				<xs:annotation>
					<xs:documentation> "Empfangsbekenntnis", "LKSNachricht" : Streckentest zwischen Finanzverwaltung und der Komponente "LEGAL". Wird in der ZPS Elster Kommunikation ausgesteuert. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="900000010">
				<xs:annotation>
					<xs:documentation> INTERNER Testmerker für verfahrensübergreifende Tests
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="900000011">
				<xs:annotation>
					<xs:documentation> INTERNER Testmerker für verfahrensübergreifende Tests
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransferTicketSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Das TransferTicket enthaelt eine 32-stellige alphanumerische ETID zur serverseitigen Protokollierung der Datenlieferung.</xs:documentation>
			<xs:documentation xml:lang="de">Eindeutiges Zuordnungskriterium der Datenlieferung
Identifizierung des gesamten Sendepakets, zur Zuordnung der Datenlieferung und der Antwort zum richtigen Sender und Zeitpunkt.
In Planung: 32-stellige alphanumerische Ticketnummer (Termin noch offen)
</xs:documentation>
		</xs:annotation>
		<xs:restriction base="elsterheaderbasis:BaseStringSType">
			<xs:pattern value="[0-9a-km-z]{2}[0-9]{3}[0-9a-km-z]{27}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransportSchluesselSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Öffentlicher Schluessel des Clients
Fuer die Transportverschluesselung vom Server zum Client ist der oeffentlicher Schluessel des Clients/Datenlieferers noetig, dieser muss beim Hinweg zum Server mitgeschickt werden.

Dieses Element kann sowohl das Zertifikat für das Protokoll bei ElsterLohn beinhalten als auch das Zertifikat bei PKCS#7v1.5enveloped

Für die Transportverschlüsselung vom Server zum Client bei einer offline Meldung ist der öffentliche Schlüssel des Clients/Datenlieferers nötig (daher ist dieser beim Versand der Daten mitzuschicken, also beim Hinweg zum Server). 

Der Inhalt dieses Elements ist mit demselben Schlüssel, wie der Inhalt des Datenteils (öffentlichen Schlüssel der Clearingstelle) verschlüsselt.</xs:documentation>
			<xs:documentation>Base 64-codierter String des X509- Zertifikats</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="VerschluesselungSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Mit welcher Verschluesselungsart wurden die Inhalte von den Elementen DatenLieferant und ggf. SigUser im TransferHeader und dem Element DatenTeil verschluesselt</xs:documentation>
			<xs:documentation xml:lang="DE">Protokoll der Verschluesselung. Es kann vorkommen, dass verschieden Verschluesselungsarten eingesetzt werden, eine Unterscheidung ist hier noetig, um das richtige Entschluesselungstool anzusteuern.</xs:documentation>
			<xs:documentation>Protokoll der Verschlüsselung

Es kann vorkommen, dass verschiedene Verschlüsselungsarten eingesetzt werden, eine Unterscheidung ist hier nötig, um das richtige Entschlüsselungstool anzusteuern. 

Beim ElsterXML müssen die Inhalte der folgenden Elemente verschlüsselt übermittelt werden:
-	DatenLieferant
-	SigUser
-	TransportSchluessel
-	DatenTeil</xs:documentation>
			<xs:documentation>Text max. 42 Zeichen</xs:documentation>
			<xs:documentation xml:lang="DE">Mit welcher Verschluesselungsart wurden die Daten verschluesselt</xs:documentation>
			<xs:documentation xml:lang="DE">Protokoll der Verschluesselung. Es kann vorkommen, dass verschieden Verschluesselungsarten eingesetzt werden, eine Unterscheidung ist hier noetig, um das richtige Entschluesselungstool anzusteuern, Protokoll der Verschluesselung</xs:documentation>
		</xs:annotation>
		<xs:restriction base="elsterheaderbasis:BaseStringSType">
			<xs:enumeration value="PKCS#7v1.5"/>
			<xs:enumeration value="PKCS#7v1.5enveloped"/>
			<xs:enumeration value="NO_BASE64"/>
			<xs:enumeration value="CMSEncryptedData"/>
			<xs:enumeration value="CMSEnvelopedData"/>
			<xs:enumeration value="EnvelopedData;RSA-OAEP;AES-128;GZip;B64">
				<xs:annotation>
					<xs:documentation xml:lang="DE">Neuer Verschlüsselungstag wird frühestens ab Mai 2016 unterstützt.
Bei der Verschlüsselungsart " EnvelopedData;RSA-OAEP;AES-128;GZip;B64" muss der symmetrische Teil mit AES128 verschlüsselt sein und der asymmetrische Teil mit RSAES-OAEP mit der Hashfunktion SHA256, der Maskengenerierungsfunktion MGF1 und als Hashfunktion der Maskengenerierungsfunktion ebenso SHA256.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VersionClientSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Produktversion
Version des Clientprogramms, das die Daten versendet. 

Das optionale Element soll dem Softwarehersteller zur Selbstverwaltung dienen und es soll ihm ermöglicht werden das Element entsprechend seiner Anforderungen zu füllen.

Wenn bei einer Verschluesselungssoftware eine neuere Version eingesetzt wird, ist es u.U. wichtig, ob die erhaltenen Daten schon mit der neuen oder noch mit der alten Verschluesselung verschluesselt wurden, um die Daten entschluesseln zu koennen.</xs:documentation>
			<xs:documentation>Text, max. 42 Zeichen</xs:documentation>
		</xs:annotation>
		<xs:restriction base="elsterheaderbasis:BaseStringSType">
			<xs:maxLength value="42"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VorgangSType">
		<xs:annotation>
			<xs:documentation xml:lang="DE">Hauptinformation ob die Daten authentifiziert wurden (send-Auth) oder nicht (send-NoSig)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="elsterheaderbasis:BaseStringSType">
			<xs:enumeration value="send-Auth">
				<xs:annotation>
					<xs:documentation>Senden von authentifizierten Daten (Signatur im THeader)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="send-NoSig">
				<xs:annotation>
					<xs:documentation>Senden von Daten ohne Authentifizierung</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="send-Auth-Part">
				<xs:annotation>
					<xs:documentation>Senden von Daten die partielle verarbeitet werden, d.h. wenn bei Sammellieferungen ein Fehler enthalten ist, wird nicht die gesamte Datenlieferung abgelehnt, sondern nur der fehlerhafte Teil.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="send-NoSig-Part">
				<xs:annotation>
					<xs:documentation>Senden von Daten die partielle verarbeitet werden, d.h. wenn bei Sammellieferungen ein Fehler enthalten ist, wird nicht die gesamte Datenlieferung abgelehnt, sondern nur der fehlerhafte Teil.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="send-Auth-Continue">
				<xs:annotation>
					<xs:documentation>Wird in Mein ELSTER verwendet und löst Fortsetzungskennung aus, sodass bei mehreren XMLs in der Folge send-NoSig verwendet werden kann.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="send-Scan">
				<xs:annotation>
					<xs:documentation>Darf nur von SteuBel verwendet werden. Grund: Damit GeCo die XMLs von SteuBel nicht aussteuert.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="headerVersionSType">
		<xs:restriction base="elsterheaderbasis:BaseStringSType">
			<xs:enumeration value="11"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>